h1{
    font-size: 2.5em;
    font-weight: bold;
    margin: 25px 0px;
}

p{
    font-size: 16px;
    line-height: 1.2em;
}

button{
    background: transparent;
    border: none;
    box-shadow: none;
}

.video-window{
    width: 500px; 
    height: 281px; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    opacity: 0;
    visibility: hidden;


    .btn-close-video{
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0%;
        top: -30px;
        cursor: pointer;
    }
}